:root{
    --blanco: #ffffff;
    --obsuro: #212121;  
    --primario: #FFC107;

}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}
.titulo{
    text-align: center;
    color: var(--primario);
    font-size: 3.8rem; /*1rem = 10px */
}.titulo span{
    font-size: 2rem;
}
span{
    color: #000 !important; /*Pasarse toda la especificidad sin importar lo demás*/
}
