:root {
    --blanco: #ffffff;
    --obsuro: #212121;  
    --primario: rgb(5, 30, 173);
    --secundario: #757575;
    --azul: #0097A7;
    --amarillo: #eee01e;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-size: 16px;
     font-family: "Montserrat", sans-serif;
     background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%);
}
h1{
 font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
     text-align: center;
}
.titulo {
    text-align: center;
    color: var(--obscuro);
    font-size: 3.6rem; 
    font-weight: bold;
}
.titulo-siguiente {
    text-align: center;
    color: var(--blanco);
    font-size: 3.8rem; 
    font-weight: bold;
}
.titulo-siguiente span {
    font-size: 2rem;
}
.titulo span {
    font-size: 2rem;
}
.contenedor {
    max-width: 120rem;
 /*   margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
*/
    margin: 0 auto;
}
.boton {
    background-color: var(--azul);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;  
    border-radius: .6rem;
}
@media (min-width: 768px){
    .boton{
        width: auto;
    }
}
.sombra {
    -webkit-box-shadow: 10px 10px 8px 4px rgba(87,87,87,0.19);
    -moz-box-shadow: 10px 10px 8px 4px rgba(87,87,87,0.19);
    box-shadow: 10px 10px 8px 4px rgba(87,87,87,0.19);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
.nav-bg {
    background-color: var(--azul);
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
   /* flex-direction: column;
    align-items: center;  pone los elementos al centro y en columna */
}
@media (min-width: 480px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;

}
.navegacion-principal a:hover {
    background-color: rgb(245, 245, 42);
    color: var(--obsuro);
}
.hero {
    background-image: url(/users/skipy/desktop/fullstack/html/image/heros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    background-color: rgba(0,0,0, .6);/*anterior que se va a cancelar*/
    background-color: rgb(0,0,0/60%);
    width: 100%;
    height: 100%;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero p,
.contenido-hero a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
}
.subtitulo {
    text-align: center;
    color: var(--obscuro);
    font-size: 2rem; 
    font-weight: bold;
}
@media (min-width: 768px){
    .servicios {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        column-gap: 1rem;
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}   
.servicio h3 {
    color: var(--azul);
    font-weight: normal;
}
.servicio p {
    line-height: 2;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: #ada30a;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}